@import-normalize;
@import "header.css";
@import "new-home.css";
@import "react-page.css";
@import "about.css";
@import "layout.css";
@import "carousel.css";

/* General */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.alignLeft {
  text-align: left;
}

.footer {
  width: 100%;
  min-height: 10vh;
  background-color: rgb(171, 188, 226);
  white-space: nowrap;
  font-family: "Nunito", sans-serif;
}
