/* General */
.alignLeft{
  text-align: left;
}


/* Header and Navbar */
.myHeader{
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  size: 16;
  color: green;
  width: 100%;
  height: 75px;
  text-align: center;
  margin-bottom: 35px;
}

.myTitle{
  padding-top: 13px;
}

.myNavBar{
  padding-left: 10px;
  margin-bottom: 0px;
}
.myNavLink{
  margin-left: 15px;
  
}

/* ****** Background ************* */

.myBody {
  height: 100%;
  background-image: url('../media/backgroundDBZ.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  

}

/* ***************** Homepage***************** */

.projectBanner{
  font-family: FunZone;
  font-size: .7in;
  text-align: left;
  color: blue;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  padding-top: 15px;
  margin-left: 1%;
  }


.projectDisplay{
  text-align: center;
  padding-left: 5%;
}

.projectCard{
  font-family: AgentOrange;
  color: white;
  text-align: center;
}

.projectCardText{
  font-family: 'Patua One', cursive;
  color: white;
  font-size: 30px;

}

.card-columns .card:hover .card-img {
  opacity: 1;
}

.card-columns .card-img {
  height: 330px;
  vertical-align: bottom;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  opacity: .8;
}

.twoButtons{
  margin-right: 5%;
  margin-left: 5%;
}

.carousel-control-prev-icon {
  background-color: gray;
}

.carousel-control-next-icon {
  background-color: gray;
}

.carousel-control-prev{
  transition: transform 0s ease-in-out;  
}

.carousel-control-next{
  transition: transform 0s ease-in-out; 
}
.carousel-item-next{
  transition: transform 0s ease-in-out;
}
.carousel-item-prev{
    transition: transform 0s ease-in-out;
}
.carousel-item-left {
    transform: translateX(-100%);
}
.carousel-item-right {
    transform: translateX(100%);
}

/* *************** React Page ********************** */

.reactCenteredContainer{
  display: flex;
  justify-content: center;
  align-items: top;
  text-align: center;
  float: center;
}

.reactRow{
  display: flex;
}

.counterColumn{
  background-color: blanchedalmond;
  margin: 15px;
  min-width: 30px;
  max-width: 350px;
  flex: auto;   
}

.HeroColumn{
  background-color: rgb(151, 200, 233);
  margin: 15px;
  min-width: 30px;
  max-width: 350px;
  flex: auto;  

}

.counterRow{
  padding: 2%;
  margin-top: 10%;  
  text-align: center;
  border-width: 2px;
  border-color: black;

  font-family: 'Gloria Hallelujah', cursive;
  font-family: 'Irish Grover', cursive;
  font-family: 'Marvel', sans-serif;
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
}

.counterButton{
  text-align: center;
  margin-bottom: 5%;
}

img {
  max-width: 20em;
  display: block;
  margin: auto;
}

.imageZoomDiv {
  margin-top: 2%;
}

.buttonCode{
  max-height: 100px;
  max-width: 300px;
}

.textHeader{
  display: flex;
  justify-content: center;
  align-items: center;  
  font-family: 'Irish Grover', cursive;
  font-family: 'Marvel', sans-serif;
  font-family: 'Permanent Marker', cursive;
  margin-top: 5%;
}

.textBox{
  justify-content: center;
  margin: 10px;
  margin-top: 5%;
  
}

.reactBanner{
  font-family: FunZone;
  font-size: .7in;
  text-align: left;
  color: blue;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  padding-top: 15px;
  margin-left: 1%;
}

  .heroesMainTitle{
    font-family: 'Permanent Marker', cursive;
    color: darkblue;
    font-size: 35px;
    
  }

  .centerdButton {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .heroStrengthDisplay{
    color: lightsteelblue;
    background-color: blue;
    font-size: 20px;
  }

  .heroNameDisplay{
    font-size: 33px;
    font-weight: bold;
    font-family: 'Marvel', sans-serif;
  }

  .heroesImageTitle {
    font-family: 'Permanent Marker', cursive;
    color: darkblue;
    font-size: 32px;
  }

/******************************** About Page ******************************************/
.accordianContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  float: center;
  
}

.accordianAbout{
  justify-content: center;
  text-align: center;  
  display: center;  
  width: 750px;
  
}

.accordianHeader{
  max-width: 750px;
  font-family: 'Cinzel Decorative', cursive;
  font-family: 'Miss Fajardose', cursive;
  font-family: 'Rye', cursive;
  font-size: 20px;
  background-color: rgb(43, 106, 199);
  color: white;
  justify-content: center;
  text-align: center; 
   
}
.accordianBody{
  background-color: aliceblue;
  color: blue;
}

  .aboutBanner{
    text-align: center;
    background-color: ivory;
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 5px;
  }

  .spacing{
    width: 100%;
    min-height: 15px;
    float: left;
  }

.eduRow{
  justify-content: center;
}

  .eduCard{
    max-width: 550px;        
  }



  .fauCard{
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Miss Fajardose', cursive;
    font-family: 'Rye', cursive;
    font-size: 20px;
    background-color: rgb(43, 106, 199);
    color: white;
    justify-content: center;
    text-align: center;
    margin-bottom: -15px;
  }


  .cerCard{
    background-color: rgb(43, 106, 199);
    color: white;
    justify-content: center;
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Miss Fajardose', cursive;
    font-family: 'Rye', cursive;
   
  }

  .degreeTitle{
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Miss Fajardose', cursive;
    font-family: 'Rye', cursive;
  }

  .fauImg{
    float: right;
  }
  .cardText{
    font-family: cursive, cursive;    
  }

.certList{
  font-family: 'Cinzel Decorative', cursive;
  font-family: 'Miss Fajardose', cursive;
  font-family: 'Rye', cursive;
}
.certName{
  /* max-width: 350px; */
  min-width: 250px;
  text-align: center;
}

.certText{
  max-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  }

  .certCard{
   margin: 2%;

  }

  .MyFrame{
    max-width: 600;
    max-height: 500;
  }

 .certBody{
  background-color: rgb(213, 222, 243);
 }
  
  /************ Image Zooming **************/
  .iiz {
    max-width: 100%;
    margin: 0;
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
  }
  
  .iiz--drag .iiz__zoom-img--visible {
    cursor: -webkit-grab;
    cursor: grab;
  }
  
  .iiz__img {
    max-width: 100%;
    height: auto;
    display: block;
    pointer-events: none;
    visibility: visible;
    opacity: 1;
  }
  
  .iiz__img--hidden {
    visibility: hidden;
    opacity: 0;
  }
  
  .iiz__img--abs {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }
  
  .iiz__zoom-img {
    width: auto !important;
    max-width: none !important;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    display: block;
  }
  
  .iiz__zoom-img--visible {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
    -ms-touch-action: none;
    touch-action: none;
  }
  
  .iiz__zoom-portal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
  }
  
  .iiz__btn {
    background: rgba(255, 255, 255, 0.8);
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    padding: 0;
    position: absolute;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
  
  .iiz__btn:before {
    content: " ";
    background-position: center;
    background-repeat: no-repeat;
    display: block;
  }
  
  .iiz__hint {
    bottom: 10px;
    right: 10px;
    pointer-events: none;
  }
  
  .iiz__hint:before {
    content: " ";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19.9 19.9'%3E%3Cpath d='M13.9 7.4C13.9 3.8 11 .9 7.4.9S.9 3.8.9 7.4s2.9 6.5 6.5 6.5 6.5-2.9 6.5-6.5zm5.3 12.5l-6.7-7.2c-1.4 1.3-3.2 2.1-5.1 2.1-4.1 0-7.4-3.3-7.4-7.4S3.3 0 7.4 0s7.4 3.3 7.4 7.4c0 1.7-.6 3.4-1.7 4.7l6.8 7.2-.7.6z' fill='%23000222'/%3E%3C/svg%3E");
    width: 20px;
    height: 20px;
  }
  
  .iiz__close {
    top: 10px;
    right: 10px;
    visibility: hidden;
    opacity: 0;
  }
  
  .iiz__close--visible {
    visibility: visible;
    opacity: 1;
  }
  
  .iiz__close::before {
    content: " ";
    width: 29px;
    height: 29px;   
    background-image: linear-gradient(#222, #222), linear-gradient(#222, #222);
    background-size: 100% 1px, 1px 100%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  /* *************** End Image Zooming ***************/

  .footer{
    width: 100%;
    min-height: 10vh;
    background-color: rgb(171, 188, 226);
    white-space: nowrap;
    font-family: 'Nunito', sans-serif;
  }

