
@font-face {
  font-family: 'AgentOrange';
  src: local("AgentOrange"),
    url("./fonts/AgentOrange.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: 'FunZone';
  src: local("FunZone"),
    url("./fonts/FunZone.ttf") format("truetype");
  font-weight: bold;
}

